<h5>CODERHOUSE: PROGRAMACIÓN BACKEND</h5>
<h1>Login</h1>

<section>
   <form action="/api/sessions/login" method="POST">
  <div class="mx-auto p-3 w-50">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text" name="email" placeholder="Email" class="form-control">
  </div>
  <div class="mx-auto p-3 w-50">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" placeholder="Password" class="form-control">
  </div>
  <div class="mx-auto p-3 w-50"><button type="submit" class="btn btn-primary ">Login</button></div> 
</form>
</section>

