<h5>CODERHOUSE: PROGRAMACIÓN BACKEND</h5>
<h1>Register</h1>



<section>
   <form action="/api/sessions/register" method="POST">
  <div class="mx-auto p-3 w-50">
    <label for="exampleInputFirst_name" class="form-label">First name</label>
    <input type="text" name="first_name" placeholder="First name" class="form-control">
  </div>
  <div class="mx-auto p-3 w-50">
    <label for="exampleInputLast_name" class="form-label">Last name</label>
    <input type="text" name="last_name" placeholder="Last name" class="form-control">
  </div>
  <div class="mx-auto p-3 w-50">
    <label for="exampleInputBirthdate" class="form-label">Birthdate</label>
    <input type="date" name="birthdate" placeholder="Birth date" class="form-control">
  </div>
  <div class="mx-auto p-3 w-50">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text" name="email" placeholder="Email" class="form-control">
  </div>
  <div class="mx-auto p-3 w-50">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" placeholder="Password" class="form-control">
  </div>
  <div class="mx-auto p-3 w-50"><button type="submit" class="btn btn-primary ">Register</button></div>
  
</form>
</section>
